In [3]:
import pandas as pd
import plotly as pl

In [4]:
df = pd.read_csv("train.csv")

In [5]:
df.head()

       mean        sd
0  0.564877  0.231592
1 -0.118285  0.020446
2 -0.157953 -0.106749
3 -0.157953 -0.106749
4 -0.157953 -0.106242

In [7]:
df.shape

(64227, 2)

In [8]:
df.describe()

               mean            sd
count  64227.000000  64227.000000
mean      -0.002097      0.000773
std        0.953966      1.020192
min       -0.284889     -0.106749
25%       -0.157953     -0.106749
50%       -0.157953     -0.106749
75%       -0.135286     -0.106242
max       66.324763     57.676982